@import './design_token_variable.css';
$md-sys-typescale-display-large-font:var(--md-sys-typescale-display-large-font);
$md-sys-typescale-display-large-line-height:var(--md-sys-typescale-display-large-line-height);
$md-sys-typescale-display-large-size:var(--md-sys-typescale-display-large-size);
$md-sys-typescale-display-large-tracking:var(--md-sys-typescale-display-large-tracking);
$md-sys-typescale-display-large-weight:var(--md-sys-typescale-display-large-weight);

$md-sys-typescale-display-medium-font:var(--md-sys-typescale-display-medium-font);
$md-sys-typescale-display-medium-line-height:var(--md-sys-typescale-display-medium-line-height);
$md-sys-typescale-display-medium-size:var(--md-sys-typescale-display-medium-size);
$md-sys-typescale-display-medium-tracking:var(--md-sys-typescale-display-medium-tracking);
$md-sys-typescale-display-medium-weight:var(--md-sys-typescale-display-medium-weight);

$md-sys-typescale-display-small-font:var(--md-sys-typescale-display-small-font);
$md-sys-typescale-display-small-line-height:var(--md-sys-typescale-display-small-line-height);
$md-sys-typescale-display-small-size:var(--md-sys-typescale-display-small-size);
$md-sys-typescale-display-small-tracking:var(--md-sys-typescale-display-small-tracking);
$md-sys-typescale-display-small-weight:var(--md-sys-typescale-display-small-weight);



$md-sys-typescale-headline-large-font:var(--md-sys-typescale-headline-large-font);
$md-sys-typescale-headline-large-line-height:var(--md-sys-typescale-headline-large-line-height);
$md-sys-typescale-headline-large-size:var(--md-sys-typescale-headline-large-size);
$md-sys-typescale-headline-large-tracking:var(--md-sys-typescale-headline-large-tracking);
$md-sys-typescale-headline-large-weight:var(--md-sys-typescale-headline-large-weight);

$md-sys-typescale-headline-medium-font:var(--md-sys-typescale-headline-medium-font);
$md-sys-typescale-headline-medium-line-height:var(--md-sys-typescale-headline-medium-line-height);
$md-sys-typescale-headline-medium-size:var(--md-sys-typescale-headline-medium-size);
$md-sys-typescale-headline-medium-tracking:var(--md-sys-typescale-headline-medium-tracking);
$md-sys-typescale-headline-medium-weight:var(--md-sys-typescale-headline-medium-weight);

$md-sys-typescale-headline-small-font:var(--md-sys-typescale-headline-small-font);
$md-sys-typescale-headline-small-line-height:var(--md-sys-typescale-headline-small-line-height);
$md-sys-typescale-headline-small-size:var(--md-sys-typescale-headline-small-size);
$md-sys-typescale-headline-small-tracking:var(--md-sys-typescale-headline-small-tracking);
$md-sys-typescale-headline-small-weight:var(--md-sys-typescale-headline-small-weight);



$md-sys-typescale-title-large-font:var(--md-sys-typescale-title-large-font);
$md-sys-typescale-title-large-line-height:var(--md-sys-typescale-title-large-line-height);
$md-sys-typescale-title-large-size:var(--md-sys-typescale-title-large-size);
$md-sys-typescale-title-large-tracking:var(--md-sys-typescale-title-large-tracking);
$md-sys-typescale-title-large-weight:var(--md-sys-typescale-title-large-weight);

$md-sys-typescale-title-medium-font:var(--md-sys-typescale-title-medium-font);
$md-sys-typescale-title-medium-line-height:var(--md-sys-typescale-title-medium-line-height);
$md-sys-typescale-title-medium-size:var(--md-sys-typescale-title-medium-size);
$md-sys-typescale-title-medium-tracking:var(--md-sys-typescale-title-medium-tracking);
$md-sys-typescale-title-medium-weight:var(--md-sys-typescale-title-medium-weight);

$md-sys-typescale-title-small-font:var(--md-sys-typescale-title-small-font);
$md-sys-typescale-title-small-line-height:var(--md-sys-typescale-title-small-line-height);
$md-sys-typescale-title-small-size:var(--md-sys-typescale-title-small-size);
$md-sys-typescale-title-small-tracking:var(--md-sys-typescale-title-small-tracking);
$md-sys-typescale-title-small-weight:var(--md-sys-typescale-title-small-weight);



$md-sys-typescale-label-large-font:var(--md-sys-typescale-label-large-font);
$md-sys-typescale-label-large-line-height:var(--md-sys-typescale-label-large-line-height);
$md-sys-typescale-label-large-size:var(--md-sys-typescale-label-large-size);
$md-sys-typescale-label-large-tracking:var(--md-sys-typescale-label-large-tracking);
$md-sys-typescale-label-large-weight:var(--md-sys-typescale-label-large-weight);

$md-sys-typescale-label-medium-font:var(--md-sys-typescale-label-medium-font);
$md-sys-typescale-label-medium-line-height:var(--md-sys-typescale-label-medium-line-height);
$md-sys-typescale-label-medium-size:var(--md-sys-typescale-label-medium-size);
$md-sys-typescale-label-medium-tracking:var(--md-sys-typescale-label-medium-tracking);
$md-sys-typescale-label-medium-weight:var(--md-sys-typescale-label-medium-weight);

$md-sys-typescale-label-small-font:var(--md-sys-typescale-label-small-font);
$md-sys-typescale-label-small-line-height:var(--md-sys-typescale-label-small-line-height);
$md-sys-typescale-label-small-size:var(--md-sys-typescale-label-small-size);
$md-sys-typescale-label-small-tracking:var(--md-sys-typescale-label-small-tracking);
$md-sys-typescale-label-small-weight:var(--md-sys-typescale-label-small-weight);

    

$md-sys-typescale-body-large-font:var(--md-sys-typescale-body-large-font);
$md-sys-typescale-body-large-line-height:var(--md-sys-typescale-body-large-line-height);
$md-sys-typescale-body-large-size:var(--md-sys-typescale-body-large-size);
$md-sys-typescale-body-large-tracking:var(--md-sys-typescale-body-large-tracking);
$md-sys-typescale-body-large-weight:var(--md-sys-typescale-body-large-weight);

$md-sys-typescale-body-medium-font:var(--md-sys-typescale-body-medium-font);
$md-sys-typescale-body-medium-line-height:var(--md-sys-typescale-body-medium-line-height);
$md-sys-typescale-body-medium-size:var(--md-sys-typescale-body-medium-size);
$md-sys-typescale-body-medium-tracking:var(--md-sys-typescale-body-medium-tracking);
$md-sys-typescale-body-medium-weight:var(--md-sys-typescale-body-medium-weight);

$md-sys-typescale-body-small-font:var(--md-sys-typescale-body-small-font);
$md-sys-typescale-body-small-line-height:var(--md-sys-typescale-body-small-line-height);
$md-sys-typescale-body-small-size:var(--md-sys-typescale-body-small-size);
$md-sys-typescale-body-small-tracking:var(--md-sys-typescale-body-small-tracking);
$md-sys-typescale-body-small-weight:var(--md-sys-typescale-body-small-weight);
